html,
body {
  margin: 0;
  height: 100%;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.6;
}
